<!DOCTYPE html>
<html>
<head>


   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Seymour+One" rel="stylesheet">

  <title> RegiSTAR </title>
</head>

<body data-spy="scroll" data-target="#category">
	<nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">

      <div class="navbar-header">

              <a class="navbar-brand" id="navbar1" href="#">Home</a>
              <a class="navbar-brand" id="navbar2" href="#about">About</a>
              <a class="navbar-brand" id="navbar3" href="#events">Events</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <a class="btn btn-default" id ="login-button" href="/admin"><li> Log in </li></a>
      </ul>
    </div>
  </nav>

<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
       <header>

        <h1>Registar</h1>

       </header>
    </div>
  </div>
</div>

<div class="container" id="about">
   <div class="row">
      <div class="col-md-6">
         <h3 id="About">About Registar</h3>
         <h4 class="text-justify"> A online event register, allowing you to track and connect with your audience. Lorem ipsum dolor sit amet, sit te debitis molestiae, oblique persequeris eu vis, nulla fastidii atomorum sea cu. Lucilius atomorum nec id, mel id quaestio inimicus argumentum. Ius vidisse labores eu. Et duo dolorum salutandi patrioque.

Qui ex epicuri deserunt, et adhuc doctus mei, ut facilis facilisi sit. Mei prima choro in, ex pri nisl laoreet. Summo eligendi verterem vim at, eu quo laudem ignota verear. Eos soluta verear ea, sit justo everti mediocrem ne. Eam cu mazim nostrum, te posse phaedrum definitionem pri.

  </div>


          <div class="col-sm-6">
              <h5>Our Event Spaces</h5>

            <iframe
              width="450"
              height="325"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAmcTUQw1JNXAEiZUEUVF_YlmKhE-5uycc&q=event+space+London" allowfullscreen>
            </iframe>

          </div>
  </div>

 <br>
<div class="et-example" id="events">
  <div class="panel-group" id="accordion">
     <div class="panel-default" id="categoryone">
       <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <h4 class="panel-title">
            This Week
            <span class=" arrow-down pull-right glyphicon glyphicon-chevron-up">
            </span>
          </h4>
        </a>
      </div>
    <div id="collapseOne" class="panel-collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-sm-6 event-div">
              <img class="event-img" src="http://www.theedinburghreporter.co.uk/wp-content/uploads/2015/03/emma-smith-guitarist-200x300.jpg">
              <h3>EVENT NAME</h3>
              <h5>Time and Location</h5>
              <h4>Information about the event</h4>
              <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
            </div>
            <div class="col-md-3 col-sm-6 event-div">
              <img class="event-img" src="http://www.rncm.ac.uk/uploads/hannah_mcguigan_1416411329.jpg">
              <h3>EVENT 2 NAME</h3>
              <h5>Time and Location</h5>
              <h4>Information about the event</h4>
              <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
            </div>
            <div class="col-md-3 col-sm-6 event-div">
              <img class="event-img" src="http://www.trinitylaban.ac.uk/sites/default/files/wissam_profile_size.jpg">
              <h3>EVENT 3 NAME</h3>
              <h5>Time and Location</h5>
              <h4>Information about the event</h4>
              <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
            </div>
            <div class="col-md-3 col-sm-6 event-div">
              <img class="event-img" src="http://earlmortimer.org.uk/wp-content/uploads/2014/11/Savilles-Theatre-Photos-48-200x300.jpg">
              <h3>EVENT 4 NAME</h3>
              <h5>Time and Location</h5>
              <h4>Information about the event</h4>
              <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
   <div class="panel panel-default">
     <div class="panel-heading" id="categorytwo">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <h4 class="panel-title" id="cateogorytwo">
                Next Week
              <span class ="arrow-down pull-right glyphicon glyphicon-chevron-up">
              <span class ="arrow-down pull-right glyphicon glyphicon-chevron-down">

            </span>
          </h4>
        </a>
      </div>
      <div id="collapseTwo" class="panel-collapse">
       <div class="panel-body">
         <div class="col-md-3 col-sm-6 event-div">
           <img class="event-img" src="https://business.uoregon.edu/sites/business1.uoregon.edu/files/media/photo-lillis-lecturehall.jpg">
              <h3>Registar Launch Party</h3>
              <h5>14th November, 18:00</h5>
              <h4>Venue: Level 39</h4>
            <a class="btn btn-default" href="/event"> Sign in </a>
          </div>
          <div class="col-md-3 col-sm-6 event-div">
           <img class="event-img" src="http://a3.typepad.com/6a01901d7a04f8970b01b7c7d9920b970b-200wi">
              <small>
                <h3>EVENT 6 NAME</h3>
                <h5>Time and Location</h5>
                <h4>Information about the event</h4>
                <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
              </small>
          </div>
          <small>
            <div class="col-md-3 col-sm-6 event-div">
              <img class="event-img" src="http://ukcorr.org/files/2011/08/Nick-Sheppard.jpg">
              <h3>EVENT 7 NAME</h3>
              <h5>Time and Location</h5>
              <h4>Information about the event</h4>
              <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
            </div>
            <div class="col-md-3 col-sm-6 event-div">
              <img class="event-img" src="https://glasgowguardian.co.uk/wp-content/uploads/sites/2/2015/05/IMG_7615-200x300.jpg">
             <small>
              <h3>EVENT 8 NAME</h3>
              <h5>Time and Location</h5>
              <h4>Information about the event</h4>
              <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
             </small>
            </div>
          <small>

          </small>
        </small>
      </div>
      <small>
        <small>

        </small>
      </small>

      </div>
        <small>
          <small>

          </small>
        </small>
      </div>
       <small>
         <small>

         </small>
        </small>
      </div>
      <small>
        <small>
          <div class="panel panel-default">
            <div class="panel-heading">
             <a data-toggle="collapse" data-parent="#accordion" href="#collopseThree">
               <h4 class="panel-title" id="cateogorythree">
                This Month
                <span class ="arrow-down pull-right glyphicon glyphicon-chevron-up">
                 </span>
               </h4>
              </a>
            </div>
          <div id="collapseThree" class="panel-collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-sm-6 event-div">
                  <img class="event-img" src="http://uponathread.co.uk/wp-content/uploads/2016/04/bridal-images-portrait-5-200x300.jpg">
                  <h3>EVENT 9 NAME</h3>
                  <h5>Time and Location</h5>
                  <h4>Information about the event</h4>
                  <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
                </div>
                <div class="col-md-3 col-sm-6 event-div">
                  <img class="event-img" src="https://www.thestage.co.uk/wp-content/uploads/2016/05/ENO-Madam-Butterfly-Ayano-Honda-c-Thomas-Bowles-800x600.jpg">
                  <h3>EVENT 10 NAME</h3>
                  <h5>Time and Location</h5>
                  <h4>Information about the event</h4>
                  <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
                </div>
                <div class="col-md-3 col-sm-6 event-div">
                  <img class="event-img" src="http://beta.thestage.co.uk/wp-content/uploads/2015/01/stephen-ward.jpg">
                  <small>
                   <h3>EVENT 11 NAME</h3>
                   <h5>Time and Location</h5>
                   <h4>Information about the event</h4>
                   <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
                  </small>
                </div>
                <small>
                 <div class="col-md-3 col-sm-6 event-div">
                  <img class="event-img" src="http://www.rncm.ac.uk/uploads/amanda_20_1474007120.jpg">
                  <small>
                   <h3>EVENT 12 NAME</h3>
                   <h5>Time and Location</h5>
                   <h4>Information about the event</h4>
                   <button type="button" class="btn btm-xs" id="myBtn1">Sign In</button>
                  </small>
                 </div>
                 <small>

                 </small>
                </small>
               </div>
               <small>
                <small>

                </small>
               </small>
              </div>
              <small>
                <small>

                </small>
               </small>
              </div>
              <small>
                <small>

                </small>
               </small>
              </div>
              <small>
                <small>

                </small>
               </small>
              </small>
            </small>
          </div>
          <small>
            <small>
              <small>

              </small>
            </small>
          </small>
        </div>
</div>






<script type="text/javascript">

$(function() {

$('.dropdown-toggle').click(function(){
 $(this).next('.dropdown-menu').toggle();
});

$(document).click(function(e) {
 var target = e.target;
 if (!$(target).is('.dropdown-toggle') && !$(target).parents().is('.dropdown-toggle')) {
   $('.dropdown-menu').hide();
 }
});

});

$(document).ready(function()){
  $('#login-button').click(function(){
    var username = prompt("Username:")
    var password = prompt("Password:")

    if (password == 'cfg'){
      return "You've logged in successfully"
    } else {
      return "Your password isn't correct. Please try again"
    }
    }
  })
}



</script>

</body>
</html>
